<div class="bg-black">
  <div class="content-wrap">
    {#<div class="subscribe-form">#}
    {{ content }}
    {#</div>#}
    <div class="block-social">
      <h4>Follow us</h4>
      <ul>
        <li>
          <a href="javascript:;">
            <span class="icon font-ico-facebook"></span>
          </a>
        </li>,cre
        <li>
          <a href="javascript:;">
            <span class="icon font-ico-instagram"></span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <span class="icon font-ico-linkedin"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>